# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Binaries for programs built in this repo
lock-n-run
capture-udp-port
send-udp-message
quipi
dumb
iso8859-collapse
http-fetch
extended-letters-collapse
actor
svg-it

# temporary local backup directories
BACKUP

# local-only scripts, docs, etc...
local
test
